@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "DM Sans";
  src: url(./assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf)
    format("truetype");
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: "DM Sans";
  src: url(./assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf)
    format("truetype");
  font-style: italic;
  font-weight: 100 900;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url(./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf)
    format("truetype");
  font-style: normal;
  font-weight: 100 900;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Colors */
  --color-neutral-0: var(--neutral-0);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);

  --color-orange-500: var(--orange-500);

  --color-blue-500: var(--blue-500);
  --color-blue-700: var(--blue-700);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Colors */
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-900: hsl(243, 96%, 9%);

  --orange-500: hsl(28, 100%, 52%);

  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  /* Spacing */
  --spacing-0: 0;
  --spacing-25: 2px;
  --spacing-50: 4px;
  --spacing-75: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-foreground bg-neutral-900;
  }
}

@layer components {
  .text-preset-1 {
    font-family: "DM Sans", sans-serif;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: -2px;
    font-style: italic;
    font-weight: 600;
  }

  .text-preset-2 {
    font-family: "Bricolage Grotesque";
    font-size: 52px;
    line-height: 120%;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 700;
  }

  .text-preset-3 {
    font-family: "DM Sans", sans-serif;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 300;
  }

  .text-preset-4 {
    font-family: "DM Sans", sans-serif;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 700;
  }

  .text-preset-5 {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 600;
  }

  .text-preset-5-medium {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 500;
  }

  .text-preset-6 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 500;
  }

  .text-preset-7 {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 500;
  }

  .text-preset-8 {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 500;
  }

  .dropdown-trigger {
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 6px 10px;
    border-radius: 6px;

    cursor: pointer;
    background-color: var(--neutral-800);

    & > span {
      font-family: "DM Sans", sans-serif;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: 0;
      font-style: normal;
      font-weight: 500;
      color: var(--color-neutral-0);
    }

    &:hover {
      background-color: var(--neutral-700);
    }

    &:active {
      box-shadow:
        0 0 0 3px var(--neutral-900),
        0 0 0 5px var(--neutral-0);
    }
  }

  .dropdown-content {
    width: 214px;
    border: 1px solid var(--neutral-600);
    padding: 6px 8px !important;
    background-color: var(--neutral-800) !important;
  }

  .dropdown-label {
    position: absolute;
    top: 0;
    opacity: 0;
  }

  .dropdown-group-label {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 500;
    color: var(--neutral-300);

    padding: 6px 8px;
  }

  .dropdown-menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    background: transparent;

    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 500;
    color: var(--neutral-0);

    padding: 10px 8px !important;
    border-radius: 8px;

    cursor: pointer !important;

    & > img {
      display: none;
    }

    &:hover,
    &:active {
      color: var(--neutral-0) !important;
      background-color: var(--neutral-700) !important;
    }

    &:active {
      box-shadow:
        0px 0px 0px 2px var(--neutral-800),
        0px 0px 0px 3px var(--neutral-0);
    }
  }
}

@layer utilities {
  .radius-0 {
    border-radius: 0;
  }

  .radius-4 {
    border-radius: 4px;
  }

  .radius-6 {
    border-radius: 6px;
  }

  .radius-8 {
    border-radius: 8px;
  }

  .radius-10 {
    border-radius: 10px;
  }

  .radius-12 {
    border-radius: 12px;
  }

  .radius-16 {
    border-radius: 16px;
  }

  .radius-20 {
    border-radius: 20px;
  }

  .radius-24 {
    border-radius: 24px;
  }

  .radius-full {
    border-radius: 999px;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    @apply hidden;
  }
}
